<h1><%= nome_da_aplicacao %></h1>

<p><strong>Data:</strong><%= date_br(Date.today) %></p>

    <td><%=link_to 'Coins', coins_path%></td>
    <td><%=link_to 'Criar Moeda', new_coin_path%></td>

    <p>Você esta no ambiente de <strong><%= ambiente_rails %></strong></p>