    <%=link_to "Cadastro de Moedas", coins_path%>
    <h1>Seja Bem-Vindo!</h1>
<p>Pablo Almeida</p>

<p> a soma é <%= 1 + 1 %> </p>
<p> seu nome é <%= "Pablo".reverse %> </p>
<% a = "Minha var"%>
<p> Imprimir var a: <%= a %> </p>
<p>A data de hoje é: <%= Date.today %> </p>