<p id="notice"><%= notice %></p>

<p>
  <strong>Descrição:</strong>
  <%= @coin.description %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @coin.acronym%>
</p>

<p>
  <strong>Data de Criação:</strong>
  <%= @coin.created_at.to_s(:data_Formatada) %>
</p>

<p>
  <strong>Data de Atualização:</strong>
  <%= @coin.updated_at.to_s(:data_Formatada)  %>
</p>

<p>
  <strong>Imagem:</strong>
   <%= image_tag @coin.url_image, width:25, height:25 %>
</p>

<%= link_to 'Editar', edit_coin_path(@coin) %> |
<%= link_to 'Voltar', coins_path %>
